<div class="p-grid">
  <div class="p-col-4 p-offset-4">
    <p-panel>
      <p-header>
        Redirect url=>{{_redirectUrl}}<br>
        Login
      </p-header>
      <div class="p-grid">
        <div class="p-col-12">
          <div class="p-grid justify-content-center">
            <div class="p-col-2 d-flex align-items-center">
              <b>Username</b>
            </div>
            <div class="p-col-4 ui-fluid">
              <input [(ngModel)]="userName"
                     autofocus
                     pInputText
                     required
                     type="text">
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid justify-content-center">
            <div class="p-col-2 d-flex align-items-center">
              <b>Password</b>
            </div>
            <div class="p-col-4 ui-fluid">
              <input [(ngModel)]="password"
                     pInputText
                     pPassword
                     required
                     type="password">
            </div>
          </div>
        </div>
      </div>
      <p-footer class="align-content-center footer-center-content">
        <button (click)="onLoginClick()" label="Login" pButton type="button"></button>
        <span style="padding-left: 15px" class="d-flex align-items-center">New User?&nbsp;<a routerLink="/sign-up">Sign up</a></span>
      </p-footer>
    </p-panel>
  </div>
</div>
