<div class="p-grid">
  <div class="p-col-6 p-offset-2">

    <p-card>
      <div class="d-flex align-items-center">
        <vote-button [postId]="postId"></vote-button>
        <div *ngIf="post" class="flex-grow-1 ml-2">
          <p-editor [(ngModel)]="post.postDescription" readonly="readonly">
            <p-header>
              Posted by<div class="user-badge">{{post.userName}}</div> - <div class="timesago-badge">{{post.createdTimeAgo}}</div><br>
              <span class="postname-badge">{{post.postName}}</span>&nbsp;
              <a (click)="onEditClick()" *ngIf="post.canEdit" class="custom-button" role="button">
                <fa-icon [icon]="faEdit" pTooltip="Edit post"></fa-icon>
              </a>&nbsp;
              <a (click)="onDeleteClick()" *ngIf="post.canDelete" class="custom-button" role="button">
                <fa-icon [icon]="faTrash" pTooltip="Delete post"></fa-icon>
              </a>&nbsp;
            </p-header>
          </p-editor>
        </div>
      </div>
      <p-footer>
        <div class="p-grid">
          <div class="p-col-1"></div>
          <div class="p-col-11">
            <a class="custom-button"  fragment="comments" role="button">
              <fa-icon [icon]="faComments"></fa-icon>
              Comments({{post?.commentsCount}})
            </a>&nbsp;
            <a class="custom-button" role="button">
              <fa-icon [icon]="faShare"></fa-icon>
              Share
            </a>&nbsp;
            <!--            <a class="custom-button" role="button">-->
            <!--              <fa-icon [icon]="faBookMark"></fa-icon>-->
            <!--              Save-->
            <!--            </a>&nbsp;-->
            <!--            <a class="custom-button" role="button">-->
            <!--              <fa-icon [icon]="faEyeSlash"></fa-icon>-->
            <!--              Hide-->
            <!--            </a>&nbsp;-->
          </div>
          <div class="p-col-1"></div>
          <div *ngIf="isLoggedIn && post && !post.commentsLocked" class="p-col-11">
            <create-edit-comment [postId]="postId"></create-edit-comment>
          </div>
          <div class="p-col-12" id="comments">
            <view-post-comments [postId]="postId"></view-post-comments>
          </div>
        </div>
      </p-footer>
    </p-card>

  </div>
  <div class="p-col-3">
    <create-channel-post-side-bar></create-channel-post-side-bar>
    <br>
    <channel-description-side-bar *ngIf="post" [channelId]="post.channelId"></channel-description-side-bar>
    <br>
    <recent-posts></recent-posts>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
