@import "../../app.component.css";
.post-title {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 1em;
}

.post-text {
  font-size: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 4em;
}

.post-hover {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #000000;
}

.buttons-bottom {
  align-self: flex-end;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.ml-2 {
  margin-left: 0.5rem; /* Измените это значение по необходимости */
}
