<div class="p-grid">
  <div class="p-col-6 p-offset-2">
    <p-panel>
      <p-header>Create channel</p-header>
      <div class="p-grid">
        <div class="p-col-3 font-weight-bold">Channel name:</div>
        <div class="p-col-9 ui-fluid">
          <input (input)="countRemaining()"
                 [(ngModel)]="sD.channelName"
                 maxlength="30"
                 pInputText
                 placeholder="Channel name"
                 required>
        </div>
        <div class="p-col-12 text-right small">{{sD.remaining}} Characters remaining</div>
        <div class="p-col-12 font-weight-bold">Channel type</div>
        <div class="p-col-4">
          <p-radioButton [(ngModel)]="sD.channelTypeString"
                         label="Public"
                         name="groupname"
                         pTooltip="Anyone can view, post, and comment to this community"
                         value="public">
          </p-radioButton>
        </div>
        <div class="p-col-4">
          <p-radioButton [(ngModel)]="sD.channelTypeString"
                         label="Restricted"
                         name="groupname"
                         pTooltip="Anyone can view this community, but only approved users can post"
                         value="restricted">
          </p-radioButton>
        </div>
        <div class="p-col-4">
          <p-radioButton [(ngModel)]="sD.channelTypeString"
                         label="Private"
                         name="groupname"
                         pTooltip="Only approved users can view and submit to this community"
                         value="private">
          </p-radioButton>
        </div>

        <div class="p-col-12 font-weight-bold">Description:</div>
        <div class="p-col-12 ui-fluid">
          <p-editor [(ngModel)]="sD.channelDescription"
                    [required]="true"
                    [style]="{'height':'400px'}"
                    class="ui-fluid">
          </p-editor>
        </div>
      </div>
      <p-footer>
        <button (click)="onCreateChannelClick()"
                class="ui-button-success ui-button-rounded"
                label="Create"
                pButton
                pTooltip="Create channel"
                type="button">
        </button>
        <button (click)="onDiscardClick()"
                class="ui-button-secondary ui-button-rounded"
                label="Discard"
                pButton
                type="button">
        </button>
      </p-footer>
    </p-panel>
  </div>
  <div class="p-col-3">
    <create-channel-post-side-bar></create-channel-post-side-bar>
    <br>
    <recent-posts></recent-posts>
  </div>
  <div class="p-col-1"></div>
</div>
