<p-virtualScroller [itemSize]="160"
                   [lazy]="true"
                   [rows]="10"
                   [value]="posts"
                   scrollHeight="650px"
                   (onLazyLoad)="loadPostsLazy($event)">
  <p-header>
<!--    <div class="flex lefstartjustify-content-start">-->
      <p-selectButton (onChange)="onChangeSortMode($event.value)"
                      [(ngModel)]="selectedSortBy"
                      [options]="existingSortingDD">
      </p-selectButton>
<!--    </div>-->
  </p-header>
  <ng-template let-i="index" let-item pTemplate="item">

    <div class="p-grid p-col-nogutter post-hover">
      <div class="p-col-1">{{item.postId}}
        <app-vote-button [countVoted]="item.postVoteCount" [post]="item"></app-vote-button>
      </div>
      <div class="p-col-11">
        <div class="p-grid">
          <div class="p-col-12">
            <a class="post-name" href="/view-post/{{item.postId}}">
              <p CleanHtmlAndTruncate [text]="item.postName" class="post-title"></p>
            </a>
          </div>
          <div class="p-col-12">
            <a class="post-name" href="/view-post/{{item.postId}}">
              <p CleanHtmlAndTruncate [maxLength]="100" [text]="item.postDescription" class="post-text"></p>
            </a>
          </div>
          <div class="p-col-12">
            <a routerLink="view-channel/{{item.postChannelId}}" pTooltip="Channel">{{item.channelName}}</a>&nbsp;
            Posted by <a routerLink="/user/{{item.postUserName}}">{{item.postUserName}} </a>{{item.postTimeAgo}}&nbsp;
            {{item.duration}}
          </div>
          <div class="p-col-12 buttons-bottom">
            <a class="custom-button" role="button">
              <fa-icon [icon]="faComments"></fa-icon>
              Comments({{item.postCountComments}})
            </a>&nbsp;
            <a class="custom-button" role="button">
              <fa-icon [icon]="faShare"></fa-icon>
              Share
            </a>&nbsp;
            <a class="custom-button" role="button">
              <fa-icon [icon]="faBookMark"></fa-icon>
              Save
            </a>&nbsp;
            <a class="custom-button" role="button">
              <fa-icon [icon]="faEyeSlash"></fa-icon>
              Hide
            </a>&nbsp;
            <a class="custom-button" role="button" (click)="onDeletePostClick(item.postId)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
              Delete
            </a>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-item pTemplate="loadingItem">
    Loading posts...
  </ng-template>
</p-virtualScroller>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<!-- Display Posts-->
<!--<div class="p-grid">-->
<!--  <div class="p-grid">-->

<!--  </div>-->
<!--  <div class="p-grid">-->

<!--  </div>-->
<!--  <div class="p-grid">-->

<!--  </div>-->
<!--</div>-->

<!--<div *ngFor="let post of posts" class="row post">-->
<!--  <app-vote-button [post]="post"></app-vote-button>-->
<!--  <div class="col-md-11">-->
<!--    <span class="subreddit-info">-->
<!--      <span class="comment-text"><a class="posturl" routerLink="">{{post.channelName}}</a></span>-->
<!--      <span> . Posted by <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>-->
<!--      <span> . {{post.duration}}</span>-->
<!--    </span>-->
<!--    <hr/>-->
<!--    <div class="post-title">-->
<!--      <a class="postname" href="/view-post/{{post.id}}">{{post.postName}}</a>-->
<!--    </div>-->
<!--    <div>-->
<!--      <a class="postname" href="/view-post/{{post.id}}">-->
<!--        <p [appMaxCharacters]="200" [appTruncateAndSafeHtml]="post.description" class="post-text"></p>-->
<!--      </a>-->
<!--    </div>-->
<!--    <hr/>-->

<!--  </div>-->

<!--  <a class="iconButton" role="button">-->
<!--    <fa-icon [icon]="faComments"></fa-icon>-->
<!--    Comments({{post.commentCount}})-->
<!--  </a>-->
<!--  <button (click)="goToPost(post.id)"-->
<!--          label="Read Post"-->
<!--          type="button"-->
<!--          pButton>-->
<!--  </button>-->
<!--  <button (click)="deletePost(post.id)"-->
<!--          type="button"-->
<!--          pButton-->
<!--          label="Delete Post"-->
<!--          class="btn-delete">-->
<!--  </button>-->

<!--</div>-->
