<!-- Display Posts-->
<!--<div class="p-grid">-->
<!--  <div class="p-grid">-->

<!--  </div>-->
<!--  <div class="p-grid">-->

<!--  </div>-->
<!--  <div class="p-grid">-->

<!--  </div>-->
<!--</div>-->
<div *ngFor="let post of posts" class="row post">
  <app-vote-button [post]="post"></app-vote-button>
  <div class="col-md-11">
    <span class="subreddit-info">
      <span class="comment-text"><a class="posturl" routerLink="">{{post.channelName}}</a></span>
      <span> . Posted by <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>
      <span> . {{post.duration}}</span>
    </span>
    <hr/>
    <div class="post-title">
      <a class="postname" href="/view-post/{{post.id}}">{{post.postName}}</a>
    </div>
    <div>
      <a class="postname" href="/view-post/{{post.id}}">
        <p [appMaxCharacters]="400" [appTruncateAndSafeHtml]="post.description" class="post-text"></p>
      </a>
    </div>
    <hr/>

  </div>

  <a class="btnCommments" role="button">
    <fa-icon [icon]="faComments"></fa-icon>
    Comments({{post.commentCount}})
  </a>
  <button (click)="goToPost(post.id)"
          class="btn-login">
    Read Post
  </button>
  <button (click)="deletePost(post.id)"
          class="btn-delete">
    Delete Post
  </button>

</div>
