<div class = "p-grid">
  <div class = "p-col-6 p-offset-2">
    <p-panel>
      <p-header>
        Create new post
      </p-header>
      <div class = "p-grid">
        <div class = "p-col-12 ui-fluid">
          <p-autoComplete (completeMethod) = "filterChannels($event.query)"
                          (onClear)="onClearChannel()"
                          (onSelect) = "onSelectChannel($event)"
                          [(ngModel)] = "sD.selectedChannel"
                          [dropdown] = "true"
                          [minLength] = "1"
                          [size] = "50"
                          [suggestions] = "sD.filteredChannelsFromServer"
                          field = "channelName"
                          placeholder = "Select channel">
            <ng-template let-channel pTemplate = "item">
              <span style = "font-size:1em;margin-right:10px; font-weight:bold;">{{channel.channelName}}</span>
              <channel-state [channelTypeId] = "channel.channelType"></channel-state>
              <join-to-channel [channelId] = "channel.channelId"></join-to-channel>
            </ng-template>
          </p-autoComplete>&nbsp;
        </div>
        <div class = "p-col-12 ui-fluid">
          <input [(ngModel)] = "sD.postName"
                 pInputText
                 placeholder = "Fill in post name"
                 style = "margin-top: 5px"
                 type = "text">
        </div>
        <div class = "p-col-12 ui-fluid">
          <input [(ngModel)] = "sD.url"
                 pInputText
                 placeholder = "Fill in URL"
                 style = "margin-top: 5px"
                 type = "text">
        </div>
        <div class = "p-col-12 ui-fluid">
          <p-checkbox [(ngModel)] = "sD.commentsLocked"
                      [binary] = "true"
                      label = "Lock comments">
          </p-checkbox>
        </div>
        <div class = "p-col-12 ui-fluid">
          <p-editor [(ngModel)] = "sD.postDescription"
                    [required] = "true"
                    [style] = "{'height':'400px'}"
                    class = "ui-fluid">
          </p-editor>
        </div>
      </div>
      <p-footer>
        <button (click) = "onCreatePostClick()"
                class = "ui-button-success ui-button-rounded"
                label = "Post"
                pButton
                pTooltip = "Create post"
                type = "button">
        </button>
        <button (click) = "onDiscardClick()"
                class = "ui-button-secondary ui-button-rounded"
                label = "Discard"
                pButton
                type = "button">
        </button>
      </p-footer>
    </p-panel>
  </div>
  <div class = "p-col-3">
    <create-channel-post-side-bar></create-channel-post-side-bar>
    <br>
    <recent-posts></recent-posts>
  </div>
  <div class = "p-col-1"></div>
</div>
