<div class="p-grid">
  <div class="p-col-6 p-offset-2">
    <p-panel>
      <p-header>
        Create post
      </p-header>
      <div class="p-grid">
        <div class="p-col-12 ui-fluid">
          <p-dropdown [(ngModel)]="sD.channelId"
                      [filter]="true"
                      [options]="sD.channelItems"
                      [required]="true"
                      [style]="{'width':'100%'}"
                      filterBy="label"
                      pTooltip="Channels"
                      placeholder="Select channel">
          </p-dropdown>
        </div>
        <div class="p-col-12 ui-fluid">
          <input [(ngModel)]="sD.postName"
                 pInputText
                 placeholder="Fill in post name"
                 style="margin-top: 5px"
                 type="text">
        </div>
        <div class="p-col-12 ui-fluid">
          <input [(ngModel)]="sD.url"
                 pInputText
                 placeholder="Fill in URL"
                 style="margin-top: 5px"
                 type="text">
        </div>
        <div class="p-col-12 ui-fluid">
          <p-checkbox [(ngModel)]="sD.commentsLocked"
                      [binary]="true"
                      label="Lock comments">
          </p-checkbox>
        </div>
        <div class="p-col-12 ui-fluid">
          <p-editor [(ngModel)]="sD.postDescription"
                    [required]="true"
                    [style]="{'height':'400px'}"
                    class="ui-fluid">
          </p-editor>
        </div>
      </div>
      <p-footer>
        <button (click)="onCreatePostClick()"
                class="ui-button-success ui-button-rounded"
                label="Post"
                pButton
                pTooltip="Create post"
                type="button">
        </button>
        <button (click)="onDiscardClick()"
                class="ui-button-secondary ui-button-rounded"
                label="Discard"
                pButton
                type="button">
        </button>
      </p-footer>
    </p-panel>
  </div>
  <div class="p-col-3">
    <create-channel-post-side-bar></create-channel-post-side-bar>
  </div>
  <div class="p-col-1"></div>
</div>
