<div class="p-grid">
  <div class="p-col-4 p-offset-4">
    <p-panel>
      <p-header>
        Signup
      </p-header>
      <div class="p-grid">
        <div class="p-col-12">
          <div class="p-grid justify-content-center">
            <div class="p-col-2 d-flex align-items-center">
              <b>Email</b>
            </div>
            <div class="p-col-5 ui-fluid">
              <input [(ngModel)]="email"
                     autofocus
                     maxlength="100"
                     pInputText
                     pKeyFilter="email"
                     placeholder="email"
                     required
                     type="text">
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid justify-content-center">
            <div class="p-col-2 d-flex align-items-center">
              <b>Username</b>
            </div>
            <div class="p-col-5 ui-fluid">
              <input [(ngModel)]="userName"
                     maxlength="100"
                     pInputText
                     placeholder="Username"
                     required
                     type="text">
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid justify-content-center">
            <div class="p-col-2 d-flex align-items-center">
              <b>Password</b>
            </div>
            <div class="p-col-5 ui-fluid">
              <input [(ngModel)]="password"
                     pInputText
                     pPassword
                     placeholder="Password"
                     required
                     type="password">
            </div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid justify-content-center">
            <div class="p-col-2 d-flex align-items-center">
              <b>Confirm password</b>
            </div>
            <div class="p-col-5 ui-fluid">
              <input [(ngModel)]="confirmPassword"
                     pInputText
                     pPassword
                     required
                     placeholder="Confirm password"
                     type="password">
            </div>
          </div>
        </div>
      </div>
      <p-footer class="align-content-center footer-center-content">
        <button (click)="onSingUpClick()" label="Signup" pButton type="button"></button>
        <span style="padding-left: 15px">Existing user?&nbsp;<a routerLink="/login">Login</a></span>
      </p-footer>
    </p-panel>
  </div>
</div>
