.footer-right-content {
  display: flex;
  justify-content: flex-end;
}

.footer-center-content {
  display: flex;
  justify-content: center;
}

.custom-button {
  cursor: pointer;
  display: inline-block;
  padding: 0px 2px;
  text-decoration: none;
  border-radius: 10px;
  transition: border-color 0.3s ease, color 0.3s ease;
  font-size: 0.9em;

  &:hover {
    border: 1px solid #000000;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
