<div class = "p-grid">
  <div class = "p-col-9">
    <p-tabView (onChange) = "onChangeTab($event.index)">
      <p-tabPanel header = "Posts">
        <ng-template pTemplate = "content">
          <all-user-posts-tile [showSortBar] = "true"></all-user-posts-tile>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header = "History">
        <ng-template pTemplate = "content">
          <user-posts-history-tile></user-posts-history-tile>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header = "Comments">
        <ng-template pTemplate = "content">
            <user-comments></user-comments>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header = "Saved">
        <ng-template pTemplate = "content">
          <saved-user-posts-tile></saved-user-posts-tile>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header = "Hidden">
        <ng-template pTemplate = "content">
          <user-post-hidden-tile></user-post-hidden-tile>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header = "Upvoted">
        <ng-template pTemplate = "content">
          <upvoted-user-posts-tile></upvoted-user-posts-tile>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header = "Downvoted">
        <ng-template pTemplate = "content">
          <downvoted-user-posts-tile></downvoted-user-posts-tile>
        </ng-template>
      </p-tabPanel>

    </p-tabView>
  </div>
  <div class = "p-col-3">
    <create-channel-post-side-bar></create-channel-post-side-bar>
  </div>
</div>
