<!-- Section to Display Votes-->
<div class="col-md-1">
  <div class="d-flex flex-column votebox">
    <div [ngClass]="upVoted ? 'upvote':'upVoteIcon'">
      <fa-icon (click)="onUpVoteClick()" [icon]="faArrowUp" class="p-2 upVoteIcon"></fa-icon>
    </div>
    <div [style.color]="upVoted ? 'red':downVoted?'blue':''" class="p-2 votecount">{{countVoted}}</div>
    <div [ngClass]="downVoted ? 'downvote':'downVoteIcon'">
      <fa-icon (click)="onDownVoteClick()" [icon]="faArrowDown" class="p-2 downVoteIcon"></fa-icon>
    </div>
  </div>
</div>
