<!-- Section to Display Votes-->
<div class="col-md-1">
  <div class="d-flex flex-column votebox">
    <div>
      <button pButton (click)="refresh()">{{postId}}</button>
    </div>
    <br>
    <div [style.color]="upVoted ? 'red':''">
      <fa-icon (click)="onUpVoteClick()" [icon]="faArrowUp" class="p-2 upvote"></fa-icon>
    </div>
    <div [style.color]="upVoted ? 'red':downVoted?'blue':''" class="p-2 votecount">{{countVoted}}</div>
    <div [style.color]="downVoted ? 'blue':''">
      <fa-icon (click)="onDownVoteClick()" [icon]="faArrowDown" [style.color]="downVoted ? 'blue':''"
               class="p-2 downvote">
      </fa-icon>
    </div>
  </div>
</div>
