.votebox {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
}

.votesection {
  margin: 0px;
  background-color: #ffffff;
}


.upVoteIcon {
  cursor: pointer;
}

.downVoteIcon {
  cursor: pointer;
}

.upvote {
  color: red;
  font-size: 1em;
}

.downvote {
  color: blue;
  font-size: 1em;
}

.upvote:hover {
  cursor: pointer;
  color: red;
}

.downvote:hover {
  cursor: pointer;
  color: blue;
}

.votecount {
  font-weight: bold;
  font-size: 1.7em;
}
