<div class="p-grid">
  <div class="p-col-6 p-offset-2">
    <p-panel [showHeader]="false" *ngIf="channel">
      <div class="p-grid">
        <div class="p-col-12 ui-fluid">
          <p-tabView>
            <p-tabPanel header={{channel.name}}>
              <span class="number-of-posts">Number of posts: {{channel.numberOfPosts + 1}}</span>
              <!--              <button (click)="refreshChannel(channel.id)"-->
              <!--                      class="btn-refresh-channel">-->
              <!--                Refresh channel-->
              <!--              </button>-->
              <div *ngFor="let item of channelPosts" style="margin-top: 0.3em;">
                <p-panel>
                  <p-header><span class="post-text">{{item.postName}}</span>&nbsp;
                    <span class="posted-by">Posted by: {{item.userName}}</span>
                  </p-header>
                  <a class="post-text" href="/view-post/{{item.id}}">
                    <p [appMaxCharacters]="400" [appTruncateAndSafeHtml]="item.description"></p>
                  </a>
                </p-panel>
              </div>
            </p-tabPanel>
            <!--            <p-tabPanel header="Description">-->
            <!--              <p [innerHtml]="channel.description"></p>-->
            <!--            </p-tabPanel>-->
          </p-tabView>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="p-col-3">
    <create-channel-post-side-bar></create-channel-post-side-bar>
    <br>
    <channel-description-side-bar [channel]="channel"></channel-description-side-bar>
  </div>
  <div class="p-col-1"></div>
</div>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <hr/>-->
<!--    <div class="col-md-9" *ngIf="channel">-->
<!--      <p-tabView>-->
<!--        <p-tabPanel header={{channel.name}}>-->
<!--          <span class="number-of-posts">Number of posts: {{channel.numberOfPosts}}</span>-->
<!--          <button (click)="refreshChannel(channel.id)"-->
<!--                  class="btn-refresh-channel">-->
<!--            Refresh channel-->
<!--          </button>-->
<!--          <div *ngFor="let post of channelPosts" style="margin-top: 0.3em;">-->
<!--            <p-panel>-->
<!--              <p-header><span class="post-name">{{post.postName}}</span>&nbsp;-->
<!--                <span class="posted-by">Posted by: {{post.userName}}</span>-->
<!--              </p-header>-->
<!--              <a class="postname" href="/view-post/{{post.id}}">-->
<!--                <p [appMaxCharacters]="400" [appTruncateAndSafeHtml]="post.description"></p>-->
<!--              </a>-->
<!--            </p-panel>-->
<!--          </div>-->
<!--        </p-tabPanel>-->
<!--        <p-tabPanel header="Description">-->
<!--          <p [innerHtml]="channel.description"></p>-->
<!--        </p-tabPanel>-->
<!--      </p-tabView>-->

<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <app-side-bar></app-side-bar>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
